body {
    background: #fefefe;
}

.img-logo {
    width: 80px;
    height: 70px;
}

.cabecalho-dash .nav-link {
    color:#F58008
}

.cabecalho-dash .nav-link:hover {
    color: #FFAC49;
}

.cabecalho-dash .nav-link:focus {
    color: #FFAC49;
}

.btn-laranja {
    background-color: #F58008;
    color: white;
    border: #F58008;
}

.btn-laranja:hover {
    background-color:#FFAC49;
    color: white;
}

/* dashboard */

.box-info {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.box-info-single {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: #fefefe;
    width: 100%;
    margin: 0 140px;
    padding: 30px;
}

/* contato dashboard */

.titulo-dash {
    margin-top: 20px;
    margin-left: 9%;
    margin-bottom: 3%;
}

.margem-form {
    margin-left: 9%;
    margin-bottom: 2%;
}

.contato-salvar {
    padding-top: 40px;
    margin-left: 54%;
}

/* sobre dashboard*/

.textarea-sobre {
    width: 700px;
    height: 400px;
}
