
body {
    font-family: 'Montserrat', sans-serif;
    background: #F8F9FA;
}


.titulo-cadastro {
margin-top: 2px;
margin-bottom: 3rem;
font-weight: 500;
line-height: 1.2;
color: var(--bs-heading-color);
}


main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}



.botao{
    background-color: #44aa9e;
    border-color: #44aa9e;
    margin-left: 60px;
    margin-right: 60px;
}

.botao:hover{
    background-color: #2f726b;
}


/* modal cadastrar corretor */
.modal-title {
    font-size: 24px;
    text-align: center;
    background-color: #44aa9e;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.modal-content {
    max-width: 600px; 
    margin: 0 auto; 
     padding: 20px;

}

.form-group label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 10px;
}

.modal-footer .btn-secondary {
    background-color: #ccc;
    color: #000;
}

.form-control {
    border-radius: 0;
    border-color: #ccc;
}

.form-group label {
    font-weight: bold;
}

.form-check-label {
    margin-left: 10px;
}

.modal-header {
    background-color: #44aa9e;
    color: #fff;
}

.modal-body {
    background-color: #fff;
}

.botao-modal{
    background-color: #ced4da;;
    border-color: #ced4da; ;
}

